* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: inline;
    width: 90%;
    margin: 0rem 0rem 0rem 0rem;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.up .img {
    width: 4rem;
    margin: -1% -26.8% -1.5% 16%;
}
.up .ico a:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(158, 158, 158);
}
nav img{
    width: 1rem;
}
.up .ico{
    color: black;
    float: right;
    width: 34%;
    margin: 1% 0% 0% 0%;
}
.up .ico a {
    margin: 70% 4% 0% 0%;
}
.up .m {
    margin: 0% 0% 0% 25%;
    font-size: 154%;
    font-family: cursive;
}
ul {
    background-color: rgb(7, 26, 46);
    color: white;
    margin: 1% -1% 2% -1%;
    padding: 1% 0% 1% 0%;
    text-align: center;
    left: 50%;
    width: 102%;
}
.down {
    margin: 0% 7% 0% 0%;
    font-size: larger;
}
.down:hover {
    
    text-shadow: 0.16rem 0.16rem 0.07rem rgb(101, 139, 139);
}
ul input {
    float: right
    border-radius: 21px;
    height: 1.5rem;
    width: 16rem;    
}
.temp img {
    margin: -2% 0% 0% -0.57%;
    width: 101.5%;
}
.temp p {
    color: rgb(255, 255, 255);
    width: 97%;
    font-size: 16px;
    margin: 0% 0% 0% 10%;
}
.temp h3 {
    color: rgb(255, 255, 255);
    font-family: cursive;
    width: 70%;
    font-size: 61px;
    margin: -21% 0% 0% 8.2%;
}
.temp h5 {
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 52px;
    margin: 2% 0% 0% 9%;
}
.temp h1 {
    color: rgb(255, 255, 255);
    width: 70%;
    font-size: 25px;
    margin: 0% 0% 0% 16%;
}
.case {
    white-space: pre-line;
}
.case img {
    position: relative;
    margin: 6rem 1rem 2rem 1rem;
    box-shadow: 0.43rem 0.43rem 1rem rgb(0, 0, 0);
    border-radius: 160px;
}
.case img:hover {
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    border-radius: 70px;
}

.case .col1 {
    box-sizing: border-box;
    text-align: left;
    margin: 0% 0% 0% 0%;
    flex-wrap: wrap;
}
.case .col2 {
    box-sizing: border-box;
    text-align: right;
    margin: -142% 0% 0% -52%;
    flex-wrap: wrap;
}
.case .col1 h3 {
    margin-top: 2%;
    margin-left: 16%;
    font-size: 25px;
    color: rgb(0, 167, 111);
    text-shadow: 0.5rem 0.5rem 0.25rem rgb(101, 139, 134);

}
.case .col1 h5 {
    width: 25%;
    margin-left: 16%;
    font-size: 16px;
    color: rgb(88, 75, 57);
}
.case .col2 h3 {
    margin-right: 16%;
    font-size: 25px;
    color: rgb(0, 167, 111);
    text-shadow: 0.5rem 0.5rem 0.25rem rgb(101, 139, 134);
}
.case .col2 h5 {
    width: 25%;
    font-size: 16px;
    margin-left: 66%;
    color: rgb(88, 75, 57);
}
.btm {
    margin: 34% 7% -12% 0%;
    white-space: nowrap;
}

.btm p {
    color: black;
    float: right;
    font-size: 16px;
    font-size: 21px;
    margin: -34% 34% -7% 0%;
}

.btm img{
    width: 1rem;
}
.btm h4 {
    margin: -30% 40% 0% 0%;
}
.btm .ico{
    float: right;
    width: 28%;
    margin: -28% 18% 0% 0%;
    height: 0%;
   
}
.c .a {
    margin: -25% 0% -7% 25%;
    height: 34%;
}
.btm .c ol a{
    color: rgb(63, 63, 63);
    float: block;
    font-size: 14px;
    margin: 0% 0% 0% 5%;
    height: 1%;
}
.btm .c ol a:hover {
    text-shadow: 0.1rem 0.1rem 0.07rem rgb(158, 158, 158);
}
.btm img:hover{
    box-shadow: 0.1rem 0.1rem 0.07rem rgb(0, 0, 0);
}
.log {
    white-space: pre-wrap;
}
.log .img {
    height: 6rem;
    width: 7rem;
    margin: 28% -3% -2% 43%;
}.log b {
    font-size: 34px;
}
.frm {
    border: 2rem;
    margin: 25% 0% -77% 7%;
    text-align: center;
}
.frm input {
    border: 1.6px solid black;
    text-align: center;
    border-radius: 25px;
    height: 2rem;
    width: 34rem; 
    margin: 0% 0% 3.4% 0%;   
}
.frm input:hover {
    box-sizing: unset;
    border: 2.5px solid black;

}
.btn {
    text-align: center;
    position: relative;
    margin: 77% 0% -52% 52%;
    text-align: end;
}
